{%extends 'accueil.html'%} 
{%block corps%}    

   <!-- Formulaire -->
   <form class="ui form" style="width:50%" method = "POST">
      <h4 class="ui dividing header" style="text-align:center">FORMULAIRE D'INSCRIPTION ET DE REINSCRIPTION</h4>
      <!-- Bouton radio -->
      <div class="inline fields" style="margin-left:190px">
         <div class="field">
            <div class="ui radio checkbox">
               <input type="radio" name="etat" id="nouveau" checked="checked"  value="nouveau" >
               <label>Nouveau</label>
            </div>
         </div>
         <div class="field">
            <div class="ui radio checkbox">
               <input type="radio" name="etat" id="ancien" value="value2" > 
               <label>Ancien</label>
            </div>
         </div>
      </div>

 
      <!------------------------------------ Partie Etudiant --------------------------------------------->
      <div class="ui raised segment">
            <legend style="text-align:center">Etudiant</legend>

         <!-- Champ matricule -->
         <div class="two fields">      
            <div class="field">
               <label>Matricule</label>
               <input type="text" name="matricule" readonly="true" id="mat" value="{{gen_mat}}" onkeypress="ecouteInput(event)">
            </div>
            <div style="margin-top:25px;" >
               <a  class="btn btn-primary" id="boutsearch" style="display: none;background:#328f8e; border: #328f8e; width: 35px;height: 35px;">
                  <i class="search icon" style="padding-top:3px;margin: 0 auto;color: white"> </i>
               </a>
            </div>
         </div>
         <!-- Champ prenom et nom -->
         <div class="two fields">      
            <div class="required field">
               <label class="lab">Prénom</label>
               <input type="text" name="prenom" id ="prenom" placeholder="Prénom" class="champ">
            </div>
               
            <div class="required field">
               <label class="lab">Nom</label>
               <input type="text" name="nom" id="nom" placeholder="Nom de famille" class="champ">
            </div>
         </div>

         <!-- Combox genre -->
         <div class="two fields">
            <div class="required field">
               <label class="lab">Sexe</label>
               <select class="ui fluid dropdown" name="sexe" id="sexe" class="champ">
                  <option value="">Choisir genre</option>
                  <option value="Masculin">Masculin</option>
                  <option value="Féminin">Féminin</option> 
               </select>
            </div>   
         </div>  

         <!-- Champ date naissance et lieu de naissance -->
         <div class="two fields">
            <div class="required field">
               <label class="lab">Date de naissance</label>
               <input type="date" name="date_naissance" id="date_naissance" max="2005-01-01" class="champ">
            </div>    
            <div class="required field">
               <label class="lab">Lieu de naissance</label>
               <input type="text" name="lieu_naissance" id="lieu_naissance" placeholder="Lieu de naissance" class="champ">
            </div>
         </div>

         <!-- Champ adresse -->
         <div class="two fields">
            <div class="required field">
               <label class="lab">Adresse</label>
               <input type="text" name="adresse" id="adresse" placeholder="ville" class="champ" style="-moz-placeholder:color,red!important">
            </div>
         </div>
         
         <!-- Champ contact -->
         <div class="two fields">
            <div class="required field">
               <label class="lab">E-mail</label>
               <input type="email" name="email" id="email" placeholder="mamadou@gmail.com" class="champ">
            </div>    
            <div class="required field">
               <label class="lab">Téléphone : <em> format(xx-xxx-xx-xx)</em></label>
               <input type="tel" pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                  name="telephone" placeholder="xx-xxx-xx-xx" id="telephone" class="champ">
            </div>
         </div>
      </div>
      <!------------------------------------ FIn Partie Etudiant --------------------------------------------->
      
      <!--------------------------------------- Partie Inscription --------------------------------------------->
      <div class="ui raised segment">
         <legend style="text-align:center">Inscription</legend>

         <!-- Combox Filière -->
         <div class="two fields">
            <div class="required field">
               <label class="lab">Filière</label>
               <select class="ui fluid dropdown champ" name="filiere" id="fil">
                  <option value="">Choisir filière</option>
                  {% for val in filieres %}
                     <option value="{{ val[0] }}">{{ val[1] }}</option>
                  {% endfor %} 
               </select>
            </div>   
         </div>  
        
         <!-- Combox Classe -->
         <div class="two fields">
            <div class="required field" >
               <label class="lab">Classe</label>
               <select class="ui fluid dropdown champ" name="classe" id="classe" >
                  <option value="">Choisir classe</option>
               </select>
            </div>   
         </div> 
         <!-- Montant inscription -->
         <div class="two fields">      
            <div class="field">
               <label>Montant inscription</label>
               <input type="text" name="mont_ins" id="mont_ins"readonly="true">
            </div>
         </div>
         <!-- Champ mensualite -->
         <div class="two fields">      
            <div class="field">
               <label>Mensualité</label>
               <input type="text" name="mensualite" id="mensualite" readonly="true">
            </div>
         </div>
         <!-- Champ Total inscription -->
         <div class="two fields" id="">
            <div class="field">
               <label>Total inscription</label>
               <input type="text" name="total_ins" id="total_ins" readonly="true">
            </div>
         </div>
         <!-- Date d'inscription -->
         <div class="two fields">
            <div class="field">
               <label>Date d'inscription</label>
               <input type="text" name="date_ins" id="date_ins" readonly="true"  value="{{date_ins}}">
            </div>    
         </div>
         <!-- Année Académique -->
         <div class="two fields">      
            <div class="field">
               <label>Année académique</label>
               <input type="text" name="annee_ac" readonly="true" value="{{annee_academy}}">
            </div>
         </div>
      </div>
      <!------------------------------------ Fin Partie Inscription --------------------------------------------->
      
      <!------------------------------------ Partie Bouton --------------------------------------------->
      <div class="two fields">
         <div class="field" style="width:auto">
             <button type="submit" id="boutonenvoi"  value="ajout_app" class="btn btn-primary" style="background:#328f8e; border: #328f8e; width: 95px; margin-top:8px ">Enregistrer</button>
         </div>
      </div>
      <!-- Back to top button -->
      <a id="button"> <i class="icon angle up" style="font-size:25px;color:white;padding-buttom:100px;padding-left:5px" ></i> </a>

      {% with messages = get_flashed_messages() %}
      {% for message in messages %} 
      <script>
         var someJavaScriptVar = '{{ message }}';
      </script>

         {% if message%}
            {% if message=="WARNING : L'apprenant existe déjà" %}
            <script type="text/javascript">
               $('#boutonenvoi').ready(function() {
                  $.uiAlert({
                     textHead: someJavaScriptVar,
                     text: '', // Text
                     bgcolor: '#DB2828', // background-color
                     textcolor: '#fff', // color
                     position: 'top-center',// position . top And bottom ||  left / center / right
                     time: 3, // time
                  })
               });
            </script>
            {% else %}
               <script type="text/javascript">
                  $('#boutonenvoi').ready(function() {
                     $.uiAlert({
                        textHead: someJavaScriptVar,
                        text: '', // Text
                        bgcolor: '#19c3aa', // background-color
                        textcolor: '#fff', // color
                        position: 'top-center',// position . top And bottom ||  left / center / right
                        time: 3, // time
                     })
                  });
               </script>
            {%endif%}
         {%endif%}
      {% endfor %}      
      {% endwith %}
   

      <script type="text/javascript" src="{{ url_for('static', filename = 'ajax_jquery.js') }}"></script>
<!--  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>  -->   
   </form>
   <div id="response"></div>

{%endblock%}   
